In [1]:
import pandas as pd
import pyarrow.parquet as pq
from sqlalchemy import create_engine
import time

In [2]:
print(pd.__version__)

2.2.2

In [3]:
parquet_file = pq.ParquetFile('yellow_tripdata_2021-01.parquet')
df = parquet_file.read_row_group(0).to_pandas().head(100)

In [4]:
df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])

In [5]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,NaN
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,NaN
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,NaN
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,NaN
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,2021-01-01 00:12:41,2021-01-01 00:26:47,1.0,4.13,1.0,N,161,226,1,14.5,0.5,0.5,3.66,0.0,0.3,21.96,2.5,NaN
96,2,2021-01-01 00:23:29,2021-01-01 00:35:03,2.0,4.12,1.0,N,162,74,2,13.5,0.5,0.5,0.00,0.0,0.3,17.30,2.5,NaN
97,2,2021-01-01 00:46:17,2021-01-01 00:54:25,2.0,2.22,1.0,N,144,170,1,9.0,0.5,0.5,2.56,0.0,0.3,15.36,2.5,NaN
98,2,2021-01-01 00:28:16,2021-01-01 00:51:44,1.0,7.11,1.0,N,264,264,2,23.5,0.5,0.5,0.00,0.0,0.3,24.80,0.0,NaN
99,2,2021-01-01 00:42:35,2021-01-01 00:54:41,3.0,1.61,1.0,N,229,237,2,9.5,0.5,0.5,0.00,0.0,0.3,13.30,2.5,NaN

In [6]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [7]:

print(pd.io.sql.get_schema(df, name='yellow_taxi_data4'))

CREATE TABLE "yellow_taxi_data4" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "airport_fee" REAL
)

In [8]:
df_iter = parquet_file.iter_batches(batch_size=100000)
while True:
    try:
        t_start = time.time()
        
        # Read the next batch and convert to Pandas DataFrame
        df = next(df_iter).to_pandas()
        
        # Convert datetime columns
        df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'], errors='coerce')
        df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'], errors='coerce')
        # Insert the chunk into the database
        df.to_sql(name='yellow_taxi_data4', con=engine, if_exists='append')
        
        # Print the time taken to process the chunk
        t_end = time.time()
        print(f'Inserted another chunk..., took {t_end - t_start:.3f} seconds')
    except StopIteration:
        print("Finished reading and inserting all chunks.")
        break

Inserted another chunk..., took 16.302 seconds
Inserted another chunk..., took 19.618 seconds
Inserted another chunk..., took 18.851 seconds
Inserted another chunk..., took 18.754 seconds
Inserted another chunk..., took 19.699 seconds
Inserted another chunk..., took 18.016 seconds
Inserted another chunk..., took 17.892 seconds
Inserted another chunk..., took 18.267 seconds
Inserted another chunk..., took 20.936 seconds
Inserted another chunk..., took 19.442 seconds
Inserted another chunk..., took 19.848 seconds
Inserted another chunk..., took 18.101 seconds
Inserted another chunk..., took 19.525 seconds
Inserted another chunk..., took 11.776 seconds
Finished reading and inserting all chunks.